*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url("image/background.jpg");
    background-size: cover;
}

main
{
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    
}

p a
{
    margin-top: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    color: #77d3ff;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

p
{
    font-family: sans-serif;
    color: azure;
    display: flex;
    justify-content: center;
}

/* .backtomain
{
    font-size: small;
    color: black;
    padding-top: 50px 10px 0px 0px;
    text-decoration: none;
}

.backtomain:hover
{
    cursor: pointer;
    text-decoration: underline;
} */
.container
{
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

.form-title
{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info
{

    padding: 20px 0;
}

.user-input-box:nth-child(2n)
{
    justify-content: end;
}

.user-input-box
{
    position: relative;
    padding-bottom: 15px;
}

.user-input-box label
{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
    display:block;
}

.user-input-box input
{
    height: 40px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

.password_required
{
    display: none;
}

.password_required ul
{
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
}

.password_required ul li
{
    margin-bottom: 8px;
    color: red;
    font-weight: 700;
}

.password_required ul li.active
{
    color:#29ff5e;
}

.password_required ul li span::before
{
    content:"✖ ";
}

.password_required ul li.active span::before
{
    content:"✔ ";
    
}



/* .form-submit-btn 
{
    cursor: pointer;
} */

.form-submit-btn
{
    margin-top: 10px;
}

.form-submit-btn input
{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209, 209, 209); 
    background: rgba(63, 114, blue76, 0.7);
    cursor: pointer;
    pointer-events: none;
}

.form-submit-btn input.active
{
    pointer-events: auto;
}

.form-submit-btn input:hover
{
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255);
}



.fa-eye-slash, .fa-eye
{
    position: absolute;
    top: 48%;
    right: 4%;
}





@media(max-width:600px)
{
    .container
    {
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n)
    {
        justify-content: space-between;
    }

    .gender-category
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info
    {
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar
    {
        width: 0;
    }
}
